<div class="panel panel-default">
  <div class="panel-heading"><%= word.question %></div>
  <table class="table">
    <tr>
      <td class="col-md-10"><%= t "choices" %></td>
      <td class="col-md-2"><%= t "correct" %></td>
    </tr>
    <% word.answers.each do |answer| %>
      <tr>
        <td><%= answer.answer %></td>
        <td>
          <% if answer.is_correct %>
            <%= t "yes" %>
          <% end %>
        </td>
      </tr>  
    <% end %>
  </table>
  
  <div class="panel-footer">
    <%= link_to t("edit"), edit_admin_word_path(word),
      class: "btn btn-success" %>
    <%= link_to t("delete"), [:admin, word], method: :delete,
      data: {confirm: t("confirm")}, class: "btn btn-danger" %>
  </div>
</div>
