<li>
  <%= f.fields_for :user_answers, user_answer do |ff| %>
    <%= ff.label user_answer.word.question %>
    <% user_answer.word.answers.each do |answer| %>
      <div class="input-radio">
        <label>
          <% if user_answer.lesson.unfinished? %>
            <%= ff.radio_button :answer_id, answer.id %>
            <%= ff.label answer.answer %>
          <% else %>
            <%= ff.radio_button :answer_id, answer.id, disabled: true, checked:
              (user_answer.answer.present? && answer.id == user_answer.answer.id) %>
            <% if user_answer.answer.present? && (answer.id == user_answer.answer.id) %>
              <% if user_answer.answer.is_correct %>
                <%= ff.label answer.answer, class: "correct-answer" %>
                <span class="label label-success"><%= t "correct_answer" %></span>
              <% else %>
                <%= ff.label answer.answer, class: "incorrect-answer" %>
                <span class="label label-danger"><%= t "incorrect_answer" %></span>
              <% end %>
            <% else %>
              <%= ff.label answer.answer %>
            <% end %>
          <% end %>
        </label>
      </div>
    <% end %>
  <% end %>
</li>
