<div class="row">
  <div class="col-md-6">
    <section class="user_info">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </div>
  <div class="col-md-6">
    <h2>
      <strong>
        <%= (@action == "following") ? t("following-users") : t("followed-users") %>
      </strong>
    </h2>
    <% if @users %>
      <% @users.each do |follow_user| %>
        <p>
          <%= link_to follow_user.name, follow_user %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
