<% provide title: t("lesson") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.name %>
      </h1>
    </section>
    <h2><%= t("category") %><%= @lesson.category.title %></h2>
    <h3><%= t("lesson") %><%= @lesson.id%></h3>
  </aside>
  <div class="col-md-8">
    <%= form_for [@lesson.category, @lesson] do |f| %>
      <ol class="words">
        <%= render @user_answers, f: f %>
      </ol>
    <%= f.hidden_field :status, value: "finished" %>
    <%= f.submit t("submit_test"), class: "btn btn-primary", disabled:
      (@lesson.unfinished? && @lesson.user == current_user) ? false : true %>
    <% end %>
  </div>
</div>
