<% provide title: t("lesson") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.name %>
      </h1>
    </section>
    <h2><%= t("category") %><%= @lesson.category.title %></h2>
    <h3><%= t("lesson") %><%= @lesson.id%></h3>
  </aside>
  <div class="col-md-8">
    <%= form_for :lesson do |f| %>
      <ol class="words">
        <%= render @words %>
      </ol>
    <%= f.submit t("submit_test"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
