<% provide title: t("words") %>
<h1><% t "words" %></h1>
<div class="row">
  <%= form_tag words_path, method: "get" do %>
    <div class="col-md-3 col-md-offset-1">
      <% if @category.present? %>
        <%= collection_select :category, :category_id, @categories, :id, :title,
          {selected: @category.id} %>
      <% else %>
        <%= collection_select :category, :category_id, @categories, :id, :title,
          {prompt: t("all_categories")} %>
      <% end %>
    </div>
    <div class="col-md-4 input-radio">
     <% Settings.category.filter_type.each do |key, type| %>
        <label>
          <%= radio_button_tag :filter_type, type, type == @filter_type %>
          <%= t "filter_type.#{key}" %>
        </label>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= submit_tag t("filter"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br />

</div>
<%= will_paginate %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render @words %>
  </div>
</div>
<%= will_paginate %>
